// background purple #3301a2
// background blue #01b9df

.container {
  --menuHeight: 30px;
  --activeTextColor: white;
  --activeBackground: #3772e6;
  --spacing: 20px;

  width: 100%;
  height: var(--menuHeight);

  background: linear-gradient(
    to right,
    mix(#3301a288, #01b9df88, 45%),
    mix(#3301a288, #01b9df88, 15%)
  );
  // box-shadow: 0px 0px 2px #333;
  padding: 0 var(--spacing);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.appleMenuContainer {
  position: relative;
  z-index: 1;
}

.logoBtn {
  height: var(--menuHeight);
  width: var(--menuHeight);
  padding: 6px;
  margin: 0px calc(var(--spacing) / 2) 0 0;
  height: 100%;
  background: none;
  border: none;
  color: white;
  &:hover {
    background: var(--activeBackground);
    color: var(--activeTextColor);
  }
  &[data-open="true"] {
    background: var(--activeTextColor);
    color: var(--activeBackground);
  }
}

.menuText {
  background: none;
  height: 100%;
  font-size: 18px;
  color: white;
  text-transform: capitalize;
  border: none;
  padding: 0 calc(var(--spacing) / 2);
  &:hover {
    background: var(--activeBackground);
    color: var(--activeTextColor);
  }
}

.dropdownMenu {
  display: flex;
  flex-direction: column;

  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  box-shadow: var(--smallShadow);
  background: linear-gradient(
    to bottom,
    mix(lighten(#4000b955, 30%), lighten(#8301d555, 30%), 90%),
    mix(lighten(#4000b955, 30%), lighten(#8301d555, 30%), 30%)
  );
  min-width: 200px;
  border-radius: 6px;
  padding: 6px;
  button {
    filter: blur(0px);
    background: transparent;
    border: none;
    color: white;
    padding: 5px 12px;
    text-align: left;
    border-radius: 4px;
    &:hover {
      background: var(--activeBackground);
    }
  }
}

.right {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github {
  height: 18px;
  width: 18px;
  margin-right: 10px;
  .githubIcon {
    color: white;
  }
}

.linkedin {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  .linkedinIcon {
    color: white;
  }
}

.clock {
  margin-bottom: -5px;
  margin-left: auto;
  padding-right: 6px;
}
