@import "../../../scss/mixins.scss";

.container {
  display: grid;
  grid-template-columns: minmax(0, auto) minmax(0, auto);
  grid-template-rows: 3rem minmax(0, auto) 1fr 2rem;
  grid-template-areas:
    "title title"
    "img techStack"
    "img desc"
    "btns btns";
  grid-gap: 15px;
  align-items: start;
  padding: 20px;
  background: var(--mainColor);

  @media (max-width: 1100px) {
    grid-template-columns: 100%;
    grid-template-rows: 3rem auto auto auto 2rem;
    grid-template-areas:
      "title"
      "img"
      "techStack"
      "desc"
      "btns";
  }

  .ppTitle {
    grid-area: title;
    padding: 0;
    padding-left: 20px;
    margin: 0;
  }

  .ppImg {
    grid-area: img;
    @include inset;
    max-height: 55vh;
  }

  .pptech {
    grid-area: techStack;
    display: flex;
    flex-direction: column;
  }

  .ppTech__header {
    font-size: 1.25rem;
    margin: 0px;
    margin-bottom: 20px;
  }

  .ppTech__div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 300px;
    @media (max-width: 1100px) {
      max-width: unset;
    }
  }
  .ppTech__img {
    height: 40px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .ppDesc {
    grid-area: desc;
    @include inset;
    background: white;
    padding: 12px 8px;
    margin: 0;
    max-height: 244px;
    overflow: auto;
    font-size: 1.15rem;
    max-width: 300px;
    @media (max-width: 1100px) {
      max-width: unset;
    }
  }
  .btnRow {
    grid-area: btns;
    display: flex;
    justify-content: flex-end;
    max-height: 2rem;
    button {
      margin-left: 10px;
    }
  }
}
