@import "../../../scss/mixins.scss";

.container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3rem auto 1fr 2rem;
  align-items: start;
  min-width: 1100px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 20px;
  grid-gap: 15px;
  grid-template-areas:
    "title title"
    "img techStack"
    "img desc"
    "btns btns";

  background: var(--mainColor);
  // * {
  //   border: 1px solid red;
  //   color: black;
  // }

  .ppTitle {
    grid-area: title;
    padding: 0;
    padding-left: 20px;
    margin: 0;
  }

  .ppImg {
    grid-area: img;
    @include inset;
  }

  .pptech {
    grid-area: techStack;
    display: flex;
    flex-direction: column;
  }

  .ppTech__header {
    font-size: 1.25rem;
    margin: 0px;
    margin-bottom: 20px;
  }

  .ppTech__div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  .ppTech__img {
    height: auto;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  .ppDesc {
    grid-area: desc;
    @include inset;
    background: white;
    padding: 12px 8px;
    margin: 0;
    max-height: 244px;
    overflow: auto;
  }
  .btnRow {
    grid-area: btns;
    display: flex;
    justify-content: flex-end;
    max-height: 2rem;
  }
}
