.container {
  background: var(--accentText);
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  padding: 4px;
  background: var(--mainColor);
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.osMenuBtn {
  padding: 3px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--mainColor);
  border-right: 3px solid #191919;
  border-bottom: 3px solid #191919;
  border-left: 3px solid #ededed;
  border-top: 3px solid #ededed;
  font-size: 1.5rem;
}

.osMenuBtn:active {
  border-left: 3px solid #191919;
  border-top: 3px solid #191919;
  border-right: 3px solid #ededed;
  border-bottom: 3px solid #ededed;
}

.osLogo {
  color: var(--textColor);
  font-size: 2rem;
  transform: rotate(-0.06turn);
}

.menu {
  position: absolute;
  bottom: 100%;
  border: 2px solid var(--mainColor);
  background: var(--mainColor);
}
.menu[data-open="false"] {
  display: none;
}

.menu > button {
  padding: 10px 30px;
  color: var(--textColor);
  border: none;
  /* background: var(--screen); */
  font-size: 1.15rem;
  font-weight: bold;
}

.systemTray {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-left: 3px solid #191919;
  border-top: 3px solid #191919;
  border-right: 3px solid #ededed;
  border-bottom: 3px solid #ededed;
  padding: 5px;
}

.trayIcon {
  font-size: 1.5rem;
  color: var(--textColor);
  margin-right: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  /* font-size: 1.5rem; */
  color: var(--textColor);
  margin: 0;
  padding: 0;
}
