.portfolioSelectionPage {
  padding: 20px;
}

.portfolioSelection__header {
  text-align: center;
  font-weight: bold;
}

.thumbnailsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  max-width: 75vw;
  // min-width: 75vw;
  // max-width: 1800px;
  flex-wrap: wrap;
  padding: 20px;
  @media (max-width: 1210px) {
    max-width: unset;
  }
}

.thumbnail {
  position: relative;
  height: auto;
  width: 100%;
}

.thumbnailImg {
  border-radius: 6px;
}

.thumbnailText {
  border-radius: 6px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  background: #32323266;
  padding: 0 20px;
}
