// .backButton {
//   position: absolute;
//   top: 14px;
//   left: 60px;
//   height: 25px;
//   width: 25px;
//   background: none;
//   border: none;

//   &:hover {
//     background: #00000007;
//     border-radius: 4px;
//   }
// }

.portfolioSelectionPage {
  padding: 20px;
  --textColor: #2d2c31;
}

.portfolioSelection__header {
  text-align: center;
  font-weight: bold;
  color: var(--textColor);
}

.thumbnailsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-template-rows: auto;
  grid-gap: 20px;
  max-width: 75vw;
  // min-width: 75vw;
  // max-width: 1800px;
  flex-wrap: wrap;
  padding: 20px;
  @media (max-width: 1210px) {
    max-width: unset;
  }
}

.thumbnail {
  position: relative;
  height: auto;
  width: 100%;
  max-width: 80vw;
  cursor: pointer;
  border-radius: 6px;
  box-shadow: var(--smallShadow);
}

.thumbnailImg {
  border-radius: 6px;
  height: 100%;
}

.thumbnailText {
  border-radius: 6px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  background: #32323299;
  padding: 0 20px;
  // @media (hover: hover) {
  opacity: 0;
  transition: all 0.5s;
  &:hover {
    opacity: 1;
  }
  // }

  @media (hover: none) and (pointer: coarse) {
    opacity: 1;
  }
}

// ========================= Portfolio Piece ========================= //
.container {
  padding: 0 40px 40px 40px;
  // max-width: 1200px;
  color: var(--textColor);
}

.images {
  max-width: 800px;
  width: 100%;
  height: auto;
  box-shadow: var(--smallShadow);
}

.heading {
  text-align: center;
}

.meta__div {
  padding-top: 10px;
  max-width: 800px;
  margin: 0 auto;
}

.meta__p {
  margin: 0;
  padding: 0;
}

.textContainer {
  max-width: 800px;
  margin: 0 auto;
  // display: grid;
  // grid-template-columns: repeat(auto-fill, minmax(250px, 600px));
  // grid-template-rows: auto;
  // grid-gap: 20px;
  // grid-auto-flow: dense;

  .text {
    // display: block;
    // max-width: 600px;
    // border: 1px solid red;
    max-width: 100%;
  }
}
