@keyframes flicker {
  0% {
    opacity: 679630472;
  }
  5% {
    opacity: 1445649151;
  }
  10% {
    opacity: 2038017269;
  }
  15% {
    opacity: 841220412;
  }
  20% {
    opacity: 706266069;
  }
  25% {
    opacity: 1612400865;
  }
  30% {
    opacity: 1241122578;
  }
  35% {
    opacity: 1597771736;
  }
  40% {
    opacity: 361297152;
  }
  45% {
    opacity: 1427279928;
  }
  50% {
    opacity: 1043194186;
  }
  55% {
    opacity: 402947267;
  }
  60% {
    opacity: 1751205143;
  }
  65% {
    opacity: 1075997752;
  }
  70% {
    opacity: 1233129002;
  }
  75% {
    opacity: 776908230;
  }
  80% {
    opacity: 249429029;
  }
  85% {
    opacity: 915807925;
  }
  90% {
    opacity: 663809341;
  }
  95% {
    opacity: 1546269169;
  }
  100% {
    opacity: 838937485;
  }
}
.container {
  background: #121010;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  max-height: 100vh;
  position: relative;
  overflow: hidden;
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
.container::after {
  animation: flicker 0.15s infinite;
}
@keyframes turn-on {
  0% {
    transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    transform: scale(1, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}

.screen {
  width: 100%;
  height: 100%;
  border: none;
  background: var(--screen);
  animation: turn-on 4s linear;
  animation-fill-mode: forwards;
  margin: 0;
  padding: 0;

  /* I hate adding this, but can't seem to find what's causing it.  Temp fix until I find the cause */
  /* margin-top: -15px; */
}

@keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: #0f0;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  /* text-shadow: 2px 2px black, -2px -2px black, -2px 2px black, 2px -2px black; */
  visibility: hidden;
  pointer-events: none;
}
.overlay {
  animation: overlay-anim 5s linear;
  animation-fill-mode: forwards;
}

/* Icons */

.iconGroup {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  /* padding-top: 15px;
  padding-right: 15px; */
  height: 100%;
}

.iconBtn {
  padding-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  background: none;
  border: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  align-items: center;
  color: var(--textColor);
}

.icon {
  font-size: 3rem;
  /* color: #40baf3; */
  color: #3087f2;
  /* margin: 0 auto; */
}

.appWindow {
  position: fixed;
  height: 90vh;
  width: 90vw;
  top: 50%;
  left: 50%;
  border: 4px solid var(--mainColor);
  transform: translateX(-50%) translateY(-50%);
  border-radius: 4px;
  overflow: hidden;
}

.appHeader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--mainColor);
  color: white;
  margin: 0;
  text-transform: capitalize;
}

.appHeader > h2 {
  margin: 0;
  font-size: 25px;
  font-weight: 200s;
}

.closeBtn {
  position: absolute;
  top: 3px;
  right: 3px;
  background-color: tomato;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 3px;
  font-size: 1.1rem;
}
.appContent {
  max-height: calc(100% - (1.1rem + 12px));
  overflow: auto;
  width: 100%;
  height: 100%;
}
