.portfolioPiece {
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
  grid-template-areas:
    "img title"
    "img tech"
    "img desc";
  align-items: start;
  row-gap: 15px;
  column-gap: 10px;
  margin: 10px;
  border-radius: 12px;
  box-shadow: 2px 2px 4px #323232;
  border: 1px solid #323232;
  padding: 20px;
}

.ppImg {
  grid-area: img;
  border: 1px solid red;
  height: auto;
  width: 100%;
  align-self: stretch;
}

.ppTitle {
  grid-area: title;
  margin: 0px;
}
.ppTech {
  grid-area: tech;
  display: flex;
  flex-direction: column;
}

.ppTech__header {
  margin: 0px;
}

.ppTech__div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.ppTech__img {
  /* height: auto; */
  /* width: 100%; */
  height: 50px;
  width: 50px;
  margin-right: 8px;
}
.ppTech__name {
  font-size: 1rem;
  margin-right: 5px;
  padding-right: 5px;
  /* border-right: 1px solid gray; */
}

.ppDesc {
  grid-area: desc;
}
